.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.view h1 {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.8em;
}

.bottom-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}