.view-intro {}

.view-intro_index_0 {
    text-align: center;
}

.view-intro__icon {
    text-align: center;
    font-size: 40px;
    color: #FFF;
    margin-top: 40px;
}

.view-intro_index_0 h1 {
    margin: 40px 0 50px;
}

.view-intro_index_4 h1 {
    margin: 4em 0 0;
}