<h1>
    Немного паранойи
</h1>

<div class="view-auth__content">
    <p>Чтобы быть уверенным,<br>
       что ты – это ты.</p>
</div>

<div class="view-auth__controls">
    <div class="view-auth__key">
        <i class="view-auth__lock fa fa-lock"></i>
        <input type="input" placeholder="Код из смс" value="{{key}}" class="view-auth__key-input">
    </div>
</div>

<div class="bottom-block">
    <button class="view-auth__login btn btn-lg btn-block btn-success" disabled="disabled">Это правда я</button>
</div>